Node-RED/Weather/Frost on windscreen notfication/frost_notification_Node_RED.json
[
    {
        "id": "560f32d3.b3740c",
        "type": "tab",
        "label": "Frost on windscreen alert",
        "disabled": false,
        "info": "If temperature between 4am and 7.30 drops\nbelow 3C or below 4째C and with wind gusts < 1km\/h) then the \"Good morning\"\nmessage from Google Home in the family room and a\napp notification will let us know there\nmay be ice on the car windscreen"
    },
    {
        "id": "676a22af.2f71fc",
        "type": "switch",
        "z": "560f32d3.b3740c",
        "name": "Outside temp < 3",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "e2ce92bc.c56f7"
            ]
        ]
    },
    {
        "id": "5b842732.569e58",
        "type": "function",
        "z": "560f32d3.b3740c",
        "name": "Data",
        "func": "var textForNotification =  {  \n   payload:{  \n      \"data\":{\n              \"message\": \"Frost warning - temp got to \" + msg.payload + \"째c.\"\n      }\n   }\n}\nreturn textForNotification;",
        "outputs": 1,
        "noerr": 0,
        "x": 1570,
        "y": 300,
        "wires": [
            [
                "493c91a2.f00e"
            ]
        ]
    },
    {
        "id": "c3a45ffe.d0e3a",
        "type": "server-state-changed",
        "z": "560f32d3.b3740c",
        "name": "Outside temperature",
        "server": "549d68d4.32fdc8",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.outside_sensors_temperature",
        "entityIdType": "substring",
        "outputInitially": true,
        "stateType": "num",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 260,
        "wires": [
            [
                "676a22af.2f71fc",
                "baf1bad5.39b738",
                "1d1a72ce.b2bc8d"
            ]
        ]
    },
    {
        "id": "493c91a2.f00e",
        "type": "delay",
        "z": "560f32d3.b3740c",
        "name": "One notification per day",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "day",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1770,
        "y": 300,
        "wires": [
            [
                "e3dc78d2.a60b28"
            ]
        ]
    },
    {
        "id": "e3dc78d2.a60b28",
        "type": "api-call-service",
        "z": "560f32d3.b3740c",
        "name": "Hass app notify",
        "server": "549d68d4.32fdc8",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_hass_app",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 2060,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "76102bba.6b1ed4",
        "type": "debug",
        "z": "560f32d3.b3740c",
        "name": "Test of temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "d2c85c8e.35c1d",
        "type": "time-range-switch",
        "z": "560f32d3.b3740c",
        "name": "Only between 4am and 8.30am",
        "lat": "-37.81006",
        "lon": "145.02967",
        "startTime": "04:00",
        "endTime": "08:30",
        "startOffset": 0,
        "endOffset": 0,
        "x": 1250,
        "y": 260,
        "wires": [
            [
                "5b842732.569e58",
                "51a81899.642eb8"
            ],
            []
        ]
    },
    {
        "id": "fe3c9d48.5a558",
        "type": "api-call-service",
        "z": "560f32d3.b3740c",
        "name": "Set frosty",
        "server": "549d68d4.32fdc8",
        "version": 5,
        "debugenabled": false,
        "domain": "input_text",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.node_frosty_status"
        ],
        "data": "{\"value\":\"Windscreens may be frosty! \"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 2050,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "51a81899.642eb8",
        "type": "delay",
        "z": "560f32d3.b3740c",
        "name": "One notification per day",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "day",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1770,
        "y": 240,
        "wires": [
            [
                "fe3c9d48.5a558",
                "d5f44e72.72cf4"
            ]
        ]
    },
    {
        "id": "203fe45f.d9f08c",
        "type": "api-call-service",
        "z": "560f32d3.b3740c",
        "name": "Reset frosty",
        "server": "549d68d4.32fdc8",
        "version": 5,
        "debugenabled": false,
        "domain": "input_text",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.node_frosty_status"
        ],
        "data": "{\"value\": \"No frost today. \"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 2500,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d5f44e72.72cf4",
        "type": "delay",
        "z": "560f32d3.b3740c",
        "name": "Delay for 5 hours, before resetting \"Frosty\" status",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 2180,
        "y": 140,
        "wires": [
            [
                "203fe45f.d9f08c"
            ]
        ]
    },
    {
        "id": "baf1bad5.39b738",
        "type": "debug",
        "z": "560f32d3.b3740c",
        "name": "Outside temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "e2ce92bc.c56f7",
        "type": "switch",
        "z": "560f32d3.b3740c",
        "name": "Outside temp != 0",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 670,
        "y": 300,
        "wires": [
            [
                "d2c85c8e.35c1d",
                "76102bba.6b1ed4"
            ]
        ]
    },
    {
        "id": "1d1a72ce.b2bc8d",
        "type": "switch",
        "z": "560f32d3.b3740c",
        "name": "Outside temp < 4",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "df85815.2b9348"
            ]
        ]
    },
    {
        "id": "55a5e4a6.4b7dec",
        "type": "api-current-state",
        "z": "560f32d3.b3740c",
        "name": "Wind less than 1km/h",
        "server": "549d68d4.32fdc8",
        "version": 3,
        "outputs": 2,
        "halt_if": "1",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.outside_sensors_wind_gust",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 900,
        "y": 220,
        "wires": [
            [
                "d2c85c8e.35c1d"
            ],
            []
        ]
    },
    {
        "id": "44bc136d.d71f8c",
        "type": "comment",
        "z": "560f32d3.b3740c",
        "name": "Is temp < 3째C?",
        "info": "",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "3103ff5d.d6f1f",
        "type": "comment",
        "z": "560f32d3.b3740c",
        "name": "Is temp < 4째C and there is no wind?",
        "info": "",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "df85815.2b9348",
        "type": "switch",
        "z": "560f32d3.b3740c",
        "name": "Outside temp != 0",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 670,
        "y": 220,
        "wires": [
            [
                "55a5e4a6.4b7dec"
            ]
        ]
    },
    {
        "id": "925b2a52.95d958",
        "type": "comment",
        "z": "560f32d3.b3740c",
        "name": "Ignore exactly \"0\" which may be a sensor error",
        "info": "",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "549d68d4.32fdc8",
        "type": "server",
        "name": "hassio",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]
